      <div class="starter-template">
        <form action="/create_item_search" method="POST">
          <input type="submit" value="商品検索データ作成" class="btn" />
        </form>
        <br/>
        <form action="/create_genre_search" method="POST">
          <input type="submit" value="商品ジャンルデータ作成" class="btn" />
        </form>
        <br/>
        <form action="/create_item_ranking" method="POST">
          <input type="submit" value="商品ランキングデータ作成" class="btn" />
        </form>
        <br/>
        <form action="/create_genre_ranking" method="POST">
          <input type="submit" value="商品ジャンルランキングデータ作成" class="btn" />
        </form>                
      </div>      