      <div class="starter-template">
        <h1><a href="http://webservice.rakuten.co.jp/api/ichibaitemsearch/">楽天商品検索API</a></h1>
        <p class="lead">
          楽天商品検索APIは、楽天市場の商品（共同購入商品・オークション商品・フリマ商品・楽天オークション の個人間オークション商品は除く。）の情報を取得することが可能なAPIです。デベロッパーはキーワードでの商品検索をはじめ、ショップ別・ジャンル別の 絞込み検索も可能となります。
        </p>
        <h1><a href="http://webservice.rakuten.co.jp/api/ichibagenresearch/">楽天ジャンル検索API </a></h1>
        <p class="lead">
        楽天ジャンル検索APIは楽天市場のジャンル名・ジャンル構造を返すAPIです。デベロッパーはジャンルIDを指定することでこれらの情報を得ることができます。
        </p>
        <h1><a href="http://webservice.rakuten.co.jp/api/ichibaitemranking/">楽天商品ランキングAPI </a></h1>
        <p class="lead">
          楽天商品ランキングAPIは、楽天市場内のコンテンツ「ランキング市場」の情報を取得することが可能なAPIです。
          デベロッパーはジャンル別や性別、年代別などで売れている商品の情報を取得することができます。
          過去の楽天商品ランキングAPIからバージョンアップし、リアルタイムのランキングの取得、3枚の商品画像の取得、最大1000位までのランキング取得ができるようになりました。
        </p>
      </div>
