      <div class="starter-template">
        <h1>商品検索サンプル１</h1>
        <a href="<%= @item_search_data_download_link %>">csvダウンロード</a>
          <table class="table table-hover">
            <tr>
              <th>商品名</th>
              <th>値段</th>
            </tr>
            <% @items.each do |item| %>            
            <tr>            
              <td><%= item.name %></td>
              <td><%= item.price %></td>
            </tr>
            <% end %>                    
          </table>          
      </div>
